
.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
.default-color0.chart-series-line { -fx-stroke: null; }
.default-color1.chart-series-line { -fx-stroke: null; }
.default-color2.chart-series-line { -fx-stroke: null; }
.default-color3.chart-series-line { -fx-stroke: #ff4500; }
.default-color4.chart-series-line { -fx-stroke: #1e90ff; }
.default-color5.chart-series-line { -fx-stroke: #008000; }
.default-color6.chart-series-line { -fx-stroke: #ff4500; }
.default-color7.chart-series-line { -fx-stroke: #1e90ff; }
.default-color8.chart-series-line { -fx-stroke: #008000; }

.default-color0.chart-line-symbol { -fx-background-color: transparent, transparent; }
.default-color1.chart-line-symbol { -fx-background-color: transparent, transparent; }
.default-color2.chart-line-symbol { -fx-background-color: transparent, transparent; }
.default-color3.chart-line-symbol { -fx-background-color: #ff4500, white; }
.default-color4.chart-line-symbol { -fx-background-color: #1e90ff, white; }
.default-color5.chart-line-symbol { -fx-background-color: green, white; }
.default-color6.chart-line-symbol { -fx-background-color: transparent, transparent; }
.default-color7.chart-line-symbol { -fx-background-color: transparent, transparent; }
.default-color8.chart-line-symbol { -fx-background-color: transparent, transparent; }


