
.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #ff4500; }
.default-color1.chart-series-line { -fx-stroke: #1e90ff; }
.default-color2.chart-series-line { -fx-stroke: green; }
.default-color3.chart-series-line { -fx-stroke: #ff4500; }
.default-color4.chart-series-line { -fx-stroke: #1e90ff; }
.default-color5.chart-series-line { -fx-stroke: green; }


.default-color0.chart-line-symbol { -fx-background-color: #ff4500, white; }
.default-color1.chart-line-symbol { -fx-background-color: #1e90ff, white; }
.default-color2.chart-line-symbol { -fx-background-color: green, white; }
.default-color3.chart-line-symbol { -fx-background-color: null, null; }
.default-color4.chart-line-symbol { -fx-background-color: null, null; }
.default-color5.chart-line-symbol { -fx-background-color: null, null; }


