
.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: green; }
.default-color3.chart-series-line { -fx-stroke: #ff4500; }
.default-color4.chart-series-line { -fx-stroke: #4169e1; }
.default-color5.chart-series-line { -fx-stroke:	green; }
.default-color6.chart-series-line { -fx-stroke: #ff4500; }
.default-color7.chart-series-line { -fx-stroke: #4169e1; }
.default-color8.chart-series-line { -fx-stroke: green; }


.default-color0.chart-line-symbol { -fx-background-color: null, null; }
.default-color1.chart-line-symbol { -fx-background-color: null, null; }
.default-color2.chart-line-symbol { -fx-background-color: null, null; }
.default-color3.chart-line-symbol { -fx-background-color: #ff4500, white; }
.default-color4.chart-line-symbol { -fx-background-color: #4169e1, white; }
.default-color5.chart-line-symbol { -fx-background-color: green, white; }
.default-color6.chart-line-symbol { -fx-background-color: transparent, transparent; }
.default-color7.chart-line-symbol { -fx-background-color: transparent, transparent; }
.default-color8.chart-line-symbol { -fx-background-color: null, null; }